<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<head>
    <title>{% block title %}Contact Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
  <div class="column-container" style="display: grid; grid-template-columns: 165px 4fr;grid-gap: 100px;"> 

    <div class="column1">
      <div class="overall">
        <img style="width: auto; border-radius: 10px;"
        class="fit-picture"           
        src="{{ url_for('static', filename='images/self.png')}}" 
        alt="self">  
        <h2 class="name" style="color: #144cf7; text-align: center; margin-bottom: 0px;">{{person.name}}</h2>
        <!-- <p><strong>Age:</strong> {{person.age}}</p> -->
        <p style="text-align: center;margin-top: 0px;font-size: small;">Ph.D. Candidate</p>
        <div style="display: flex; align-items: center; justify-content: start;">
          <!-- <img style="width: 30px;" class="fit-picture" src="{{ url_for('static', filename='images/asset/mail-blue.png')}}" alt="self"> -->
          <p style="margin-left: 5px;">{{person.email}}</p>
        </div>
        <div style="display: flex; align-items: center; justify-content: start;">
          <img style="width: 30px;" class="fit-picture" src="{{ url_for('static', filename='images/asset/tel-blue.png')}}" alt="self">
          <p style="margin-left: 5px;">{{person.phone}}</p>
        </div>
        <div style="display: flex; align-items: center; justify-content: start;">
          <img style="width: 30px;" class="fit-picture" src="{{ url_for('static', filename='images/asset/add-blue.png')}}" alt="self">
          <p style="margin-left: 5px;">{{person.location}}</p>
        </div>      
        <div style="display: flex; align-items: center; justify-content: start;">
          <img style="width: 30px;" class="fit-picture" src="{{ url_for('static', filename='images/asset/link-blue.png')}}" alt="self">
          <p style="margin-left: 5px;">
          <a href="https://www.linkedin.com/in/zeshi-yang">Linkedin</a></p>          
        </div>      
      </div>
    </div>
  <div class="column2">
  <h1>Contact Me</h1>
  <form action="/submit" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="question">Question:</label><br>
    <textarea id="question" name="question" rows="6" required style="width: 75%;font-family: Arial, sans-serif;"></textarea><br><br>

    <input type="submit" value="Submit">
  </form>
</div>
</div>
</body>
{% endblock %}