<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>{% block title %}My Resume{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>  

  <div class="grid-container">

    <div class="grid1">
      {% include 'programming projects/project_tree.html' %}
    </div>

    <div class="grid2">
      <div class="wrapper">
        <div class="section">   
          <p style="color: #144cf7;font-weight: bold;font-size: 25px;text-align: center; margin-top: 20px;">Welcome to my programming projects portfolio!</p>     
          <p style="white-space: pre-line; line-height: normal+5px;text-align: justify; margin-top: 0px;">
            These projects are developed as hobbies during my studies.

            My favourate project is the <a href="/programming/1">trading signal framework</a>. Combining my passion for finance and programming, I created algorithms that analyze market data and generate valuable trading signals. Through extensive research and implementation, these signals aim to assist individuals in making informed trading decisions.     

            In addition, I have ventured into the world of <a href="/programming/2">web scraping</a>, building custom scrapers to collect and extract data from various online sources. These scrapers leverage my proficiency in programming languages and enable me to retrieve and organize information efficiently.

            Furthermore, I have developed <a href="/programming/3">account tracking program</a>, allowing users to monitor and manage their financial information in a secure and user-friendly manner.  

            Lastly, my passion for technology extends to <a href="/programming/4">website development</a>. I have designed and built websites using modern technologies and frameworks, creating visually appealing and functional online experiences.
            
            While these programming projects were initially developed as hobbies, they have provided me with valuable exposure to various programming paradigms, frameworks, and domains outside of my academic studies. This experience has strengthened my commitment to ongoing learning and sharpened my ability to adapt my programming skills to an array of diverse situations.
          </p>
        </p>  
        </div>
      </div>
    </div>
  </div>
        <hr>
  </body>
</html>
{% endblock %}