<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>{% block title %}My Resume{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>  

  <div class="grid-container">

    <div class="grid1">
      {% include 'research projects/project_tree.html' %}
    </div>

    <div class="grid2">
      <div class="wrapper">
        <div class="section">    
          <p class="spacer" style="margin-bottom: 70px;"></p>                           
          <p style="white-space: pre-line; line-height: normal+5px;">Welcome to my research portfolio!

            Throughout my research journey, I have been instrumental in exploring and optimizing these additive manufacturing processes to achieve superior part quality, increased efficiency, and enhanced functionality. Leveraging my expertise, I have made significant contributions in areas such as binder-powder interaction in <a href="/research/1">Binder Jetting</a>, improving <a href="/research/2">powder spreading</a> uniformity, refining laser parameters for <a href="/research/3">L-PBF</a>, mitigating <a href="/research/4">powder spattering</a> during L-PBF process, optimizing <a href="/research/5">filament deposition modeling</a>, and enhancing the efficiency and quality of <a href="/research/6">molding injection</a>.
            
            In addition, I have delved into the realm of in-situ monitoring techniques, where I have successfully utilized <a href="/research/7">acoustic signal emissions</a> to track and analyze the additive manufacturing processes. This breakthrough technique has provided valuable insights into the process dynamics, enabling real-time monitoring and quality control.
            
            Beyond my research work, I am equally passionate about mentoring and guiding aspiring undergraduates. As a <a href="/research/8">final year project tutor</a>, I have nurtured the skills of numerous students, helping them refine their research methodologies, develop critical thinking abilities, and achieve remarkable outcomes. This rewarding experience has enhanced my communication, leadership, and mentoring skills.

            
            With a comprehensive understanding of multiple additive manufacturing techniques, extensive research project involvement, and a proven track record as a mentor, I offer a holistic perspective in the field of additive manufacturing. I am driven by a relentless pursuit of innovation, pushing the boundaries of current practices to unlock new possibilities in manufacturing.
            
            Please explore my portfolio to learn more about my research projects, achievements, and collaborations. I look forward to connecting with fellow researchers, industry professionals, and enthusiasts to contribute to the exciting world.
          </p>
        </div>
      </div>
    </div>
  </div>
        <hr>
  </body>
</html>
{% endblock %}