<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>{% block title %}My Resume{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>  

  <div class="grid-container">

    <div class="grid1">
      {% include 'research projects/project_tree.html' %}
    </div>

    <div class="grid2">
      <div class="wrapper">
        <div class="section">    
          <p class="spacer" style="margin-bottom: 70px;"></p>                           
          <p style="white-space: pre-line; line-height: normal+5px;">Here the details of resaerch projects in my four-year phd study are summarised.
            坦途于心境，谨慎于世事 (2023-)
            我很喜欢一个人玩东西，但很不喜欢和别人分享。我现在认为这是一个自私且无能的行为，我希望改变这些。
          </p>
        </div>
      </div>
    </div>
  </div>
        <hr>
  </body>
</html>
{% endblock %}