/* CSS styling for the section div */
.nav a {
margin-right: 10px;
}
.nav {
    display: flex;
    justify-content: flex-end;
    font-size: large;
  }

.widget {
margin-left: 10px; /* Adjust the value as needed */
padding: 5px 10px;
background-color: rgb(2, 2, 2);
border-radius: 50px;
text-decoration: none;
color: rgb(255, 255, 255);
}