<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>{% block title %}My Resume{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>  

  <div class="grid-container">

    <div class="grid1">
      {% include 'research projects/project_tree.html' %}
    </div>
    <div class="grid2">
      <div class="wrapper">
        <div class="section" style="transition: marg;">
          <h2 style="text-align: justify;">{{ intro['full_title'] }}</h2>
          <p style="white-space: pre-line;text-align: justify;">{{ intro['content'] | safe }}</p>     
          {% for image_src in image_srcs %}
          <img class="fit-picture" src="{{ image_src }}" style="display: block;margin: 0 auto;width: auto;"> 
          {% endfor %}     
        </div>
      </div>
    </div>
  </div>
        <hr>
  </body>
</html>
{% endblock %}